.logo-title{
	font-size: 1.4rem;
	font-weight: bold;
	background: linear-gradient(to right, #67a5cf, #00439c);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.logo {
	height: 40px;
	margin-right: 10px;
}